body{
    background-color:#f9f9f9;  
}

.workspace{
    border: 1px solid #babaca;
}

.workspace .menu-area,.workspace .application-area{
    top:49px;
    left:0px;
}

.workspace .menu-area.is-top,.workspace .application-area.is-top{
    top:0px;
}

.workspace .menu-area.is-bottom,.workspace .application-area.is-bottom{
    bottom:0px; 
}